<h1 class="text-4xl font-black mb-4">Edit Report</h1>

<SanbaseWeb.ReportHTML.edit_form
  form={@form}
  report={@report}
  action={~p"/admin/reports/#{@report}"}
/>

<span>
  <.link
    href={~p"/admin/reports"}
    class="flex-shrink-0 border-4 text-teal-500 hover:text-teal-800 py-1 px-2 rounded"
    type="button"
  >
    Back
  </.link>
</span>
