.account-control {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .account {
    width: 720px;
  }

  .account h3 {
    margin-top: 15px;
  }

  .account-control {
    display: block;
  }
}
