.build-challenge-page {
  padding: 1em;
  padding-top: 1em !important;
}

.build-challenge-page p,
.build-challenge-page li {
  font-size: 18px;
  line-height: 22px;
}

.cta-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta-block div:last-child {
  margin-top: 10px;
  margin-bottom: 5px;
}
