.cashflow-mobile {
  position: relative;
}

.cashflow-mobile-search {
  padding: 0 10px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.cashflow-mobile-search .search-panel {
  flex: 1;
}

.cashflow-mobile-search .search-panel input {
  font-size: 16px !important;
}

.cashflow-mobile-search .cashflow-mobile-search__filter {
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.ListView {
  height: 90vh;
}

.ListView-content span {
  padding: 10px !important;
  margin-top: 10px !important;
}

.ListView-content span:first-child {
  padding-top: 20px !important;
}

.ListView-runway {
  position: absolute;
  height: 1px;
  width: 1px;
}

.ListItem-project {
  max-height: 420px;
  min-height: 420px;
}
