.cashflow {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
}

.cashflow-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 16px;
}

.cashflow-head h1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.7) !important;
}

.cashflow-head p {
  text-align: right;
  font-size: 12px;
}

.cashflow-indev-message {
  margin: 16px;
  text-align: right;
}

.cashflow-head-community-help {
  text-decoration: underline;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 16px 5px 16px;
}

.datatables-filter {
  min-width: 40%;
}

.datatables-filter label {
  width: 100%;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.datatables-filter input {
  width: 100%;
  margin-left: 0;
  padding: 8px;
  line-height: 1.25;
  color: #464a4c;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  outline-offset: -2px;
  overflow: visible;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.datatables-filter input:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
}

.rt-thead.-filters {
  display: none;
}

.datatables-info label {
  font-size: 12px;
  margin-bottom: 16px;
  display: inline-block;
}

.cashflow .ReactTable {
  margin: 0 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  overflow-y: hidden;
}

.rt-tr:hover {
  background-color: #f2f2f2 !important;
  transition: background 0.25s ease-in;
}

.rt-resizable-header-content {
  text-align: left !important;
}

.rt-th {
  background-color: white;
  border: none !important;
  padding: 10px !important;
  font-size: 13px;
  font-weight: bold;
  outline: none;
}

.rt-td > div {
  padding: 5px;
}

.rt-td:hover {
  cursor: pointer;
}

.-sort-desc,
.-sort-asc {
  background-color: rgba(0, 150, 99, 0.08);
}

.ReactTable .wallet {
  display: flex;
  flex-direction: column;
}

.ReactTable .wallet .usd {
  margin-right: 10px;
  flex: 1;
}

.ReactTable .cell-signals {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
}

.eth-sent-item {
  text-align: right;
}

@media all and (min-width: 1000px) and (max-width: 1399px) {
  .cashflow {
    width: calc(100% - 48px);
    min-width: calc(100% - 48px);
  }
}

@media all and (min-width: 768px) and (max-width: 1000px) {
  .cashflow {
    width: 100%;
    min-width: 100%;
  }
}
