.detailed-head {
  margin-top: 32px;
  min-height: 84px;
  margin-right: 16px;
  display: flex;
}

.panel-chart {
  padding-top: 0;
}

.detailed-name h1 {
  margin-top: 0;
  font-size: 2em;
}

.detailed-name {
  width: 50%;
}

.detailed-name p {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.1;
  color: #3d4051;
  margin-bottom: 0.5em;
  margin-left: 52px;
}

.detailed-price {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: 300;
  z-index: -1;
}

.detailed-name img {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .detailed-head {
    margin: 16px;
    height: auto;
    flex-direction: column;
  }

  .detailed-name {
    width: 100%;
  }

  .detailed-name h1 {
    margin-bottom: 0;
    margin-left: 0;
    font-size: 1em;
  }

  .detailed-name p {
    display: none;
  }

  .detailed-price {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .detailed-head {
    margin: 0;
  }
}

.detailed-buttons {
  width: 50%;
  height: 100%;
  position: relative;
}

.detailed .panel button {
  width: 100%;
  text-align: left;
  outline: none;
}

.detailed-buttons button.add-to-dashboard {
  border: none;
  border-radius: 4px;
  padding: 8px 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #009663;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
  position: absolute;
  right: 0;
  bottom: 0;
}

.detailed-buttons button.add-to-dashboard:hover {
  opacity: 1;
  background-color: #025aa5;
  border-color: #01549b;
}

.detailed .nav {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.detailed .nav li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: -1px;
}

.detailed .nav li .nav-link {
  border: 1px solid;
  border-color: #ccc rgba(0, 0, 0, 0) #ccc #ccc;
  background-color: #f2f2f2;
  color: #3d4051;
  display: block;
}

.detailed .main-chart .nav li {
  width: 50%;
}

.detailed .activity-panel .nav .nav-link {
  font-size: 1.25rem;
  font-weight: 500;
  color: #3d4051;
  padding: 3px 8px;
}

.detailed .main-chart .nav .nav-link {
  font-size: 24px;
  font-weight: 300;
  color: #171717;
  padding: 4px 15px;
}

.detailed .nav li:last-child .nav-link {
  border-color: #ccc;
}

.main-chart .diff {
  font-size: 70%;
}

.diff.up {
  color: #309d81;
}

.diff.down {
  color: #ca2d2d;
}

.main-chart .content div {
  display: none;
}

.detailed .activity-panel .nav li {
  width: 20%;
}

.detailed .nav li.active .nav-link {
  background-color: #fff;
  border-color: #ccc rgba(0, 0, 0, 0) #fff #ccc;
}

.detailed .nav li.active:last-child .nav-link {
  background-color: #fff;
  border-color: #ccc #ccc #fff #ccc;
}

.detailed .analysis {
  display: flex;
  margin: 16px;
  justify-content: space-between;
}

.detailed .analysis .panel {
  width: 33%;
  margin: 0;
}

.detailed .information {
  display: flex;
  margin: 16px;
  justify-content: space-between;
}

.detailed .information .panel {
  margin: 0;
  margin-right: 5px;
  flex: 1 1 0;
}

@media (max-width: 1024px) {
  .detailed .information {
    flex-direction: column;
  }

  .detailed .information .panel {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .detailed .information {
    margin: 0;
  }
}

.row-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 0;
}

.row-info .value {
  text-align: right;
}

.panel .diff {
  font-size: 12px;
}
