.event-votes a {
  text-decoration: none;
  border-bottom: none;
}

.event-votes .ui.message {
  margin: 16px 10px !important;
}

.event-posts-list {
  padding: 0;
}

.event-votes-header span {
  font-size: 20px;
  line-height: 32px;
}

.event-votes-navigation__link {
  padding: 0 0.5em;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
}

.event-votes-navigation__add-link {
  color: #999;
  cursor: pointer;
  margin-right: 7px;
}

.event-votes-navigation__link:hover {
  color: black;
}

.event-votes-navigation__link--active {
  color: black;
  font-weight: bold;
  text-transform: underline !important;
}

.event-votes-navigation a:last-child {
  border: none;
}

@media (min-width: 768px) {
  .event-votes-content {
    min-width: 520px;
  }
}

@media (min-width: 1024px) {
  .event-votes-rows {
    flex-direction: row;
  }

  .event-votes .ui.message {
    margin: 16px !important;
  }
}
