.event-votes a {
  text-decoration: none;
  border-bottom: none;
}

.event-votes .ui.message {
  margin: 16px 10px !important;
}

.event-posts-list {
  padding: 0;
}

.event-votes-header span {
  font-size: 20px;
  line-height: 32px;
}

.event-votes-navigation__link {
  padding: 0 0.5em;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
}

.event-votes-navigation__add-link {
  color: #999;
  cursor: pointer;
  margin-right: 7px;
}

.event-votes-navigation__link:hover {
  color: black;
}

.event-votes-navigation__link--active {
  color: black;
  font-weight: bold;
  text-transform: underline !important;
}

.event-votes-navigation a:last-child {
  border: none;
}

.insight-list {
  margin-top: 16px;
}

.posts-by-day {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(60, 60, 90, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.night-mode .posts-by-day {
  box-shadow: none;
  background-color: #1c1e21;
  border: 1px solid #2d3239;
}

.posts-by-day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  user-select: none;
  border-bottom: 1px solid #e8e8e8;
}

.night-mode .posts-by-day-header {
  border-color: #2d3239;
}

.posts-by-day-header .represent-day {
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .event-votes .ui.message {
    margin: 16px !important;
  }
}
