.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  padding: 1em;
  max-width: 70%;
  border-radius: 2px;
}

.login-container .content {
  text-overflow: ellipsis;
  overflow: hidden;
}

.login-container .help-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .login-container {
    max-width: 100%;
    border-radius: 0;
    border: 0;
  }
}
