.project-dp-chart {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-dp-chart .graph {
  flex: 1;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
  min-height: 40px;
}

.selected-value {
  font-size: 1.2em;
  text-align: center;
}

.selected-value-datetime {
  font-size: 1.6em;
  font-weight: 300;
}

.selected-value-data {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 0.5em;
}

.time-filter,
.currency-filter {
  display: flex;
  width: 200px;
}

.time-filter div,
.currency-filter div {
  cursor: pointer;
  width: 40px;
  margin-right: 5px;
  text-align: center;
}

.time-filter .activated,
.currency-filter .activated {
  background: gray;
  color: white !important;
  width: 40px;
}

.time-filter .disabled,
.currency-filter .disabled {
  color: #888;
}

.currency-filter {
  margin-top: 10px;
}
