/* mailchimp, signals */
.signals-form {
  text-align: center;
  overflow: auto;
  padding: 70px 20px 50px 20px;
  margin: -16px -16px 16px -16px;
  background: linear-gradient(270deg, #df2f2f, #316bae, #309d81);
  background-size: 600% 600%;
  animation: AnimationName 60s ease infinite;
}

.signals-form h2 {
  color: white;
  font-size: 24px;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  margin-bottom: 7px;
  line-height: 38.4px;
}

.narrow {
  padding: 40px 120px;
}

@media (max-width: 767px) {
  .narrow {
    padding: 20px 0;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.signals-form h2 span {
  display: block;
}

@media (max-width: 767px) {
  .signals-form h2 span {
    display: inline;
  }
}

#mc_embed_signup form {
  text-align: center !important;
}

#mc_embed_signup input.email {
  font-size: 15px;
  padding: 0 0.4em;
  margin: 10px auto;
  min-height: 32px;
  width: 58%;
  min-width: 130px;
  border-radius: 3px;
  border: 1px solid #fff;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 767px) {
  #mc_embed_signup input.email {
    width: 100% !important;
  }
}

#mc_embed_signup .button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup input.button {
  margin: 20px auto 0 auto;
  background-color: rgba(41, 43, 44, 1);
  display: block;
  min-width: 90px;
  width: 150px;
}

#mc_embed_signup input.button:hover {
  background-color: rgba(61, 68, 80, 1) !important;
}
