.HypedBlocks {
  display: flex;
  justify-content: space-evenly;
}

.selector {
  padding: 0;
  margin-top: 35px;
}

/* stylelint-disable */
.selector :global .selector-item--selected {
  background: #dcf6ef;
  border-radius: 4px;
  color: #14c393 !important;
}

.selector :global .selector-item {
  color: #808ba1;
  padding: 5px 15px;
}
/* stylelint-enable */
