.TrendsSearch {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.examples {
  margin-top: 8px;
  display: block !important;
}

.examples a {
  border-bottom: none;
  color: #14c393;
}
