.TrendsForm {
  width: 95%;
  margin-left: 25px;
}

.TrendsForm__form {
  width: 100%;
}

.TrendsForm__input {
  width: 100%;
}

.TrendsForm__input input {
  background-color: #ffffff94 !important;
}

@media (min-width: 768px) {
  .TrendsForm {
    width: 85%;
  }

  .TrendsForm__input input {
    background-color: white !important;
  }
}
