.feedbackButton {
  background: transparent !important;
  color: white !important;
}

.feedbackButton:hover {
  background: rgba(225, 225, 225, 0.2) !important;
}

.helpMessage {
  user-select: none;
  padding: 12px;
}

.night-mode .feedbackButton {
  color: #c0c0c0 !important;
}
