@import '../../../mixins.scss';

$border-color-night: #2d3239;
$border-popup-color-night: #4a4a4a;

.panel {
  @include border-box;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 #3c3c5a1a, 0 3px 6px 0 rgba(0, 0, 0, 0.071);

  :global(.night-mode) & {
    background-color: #1c1e21;
    box-shadow: none;
    border: 1px solid $border-color-night;
  }

  &.popup {
    :global(.night-mode) & {
      background-color: #23252a;
      border-color: $border-popup-color-night;
    }
  }
}

// @TODO(vanguard): Extract to index css
body :global(.night-mode) {
  color: #a0a0a0;
  & ::selection {
    background-color: #a5a8b1;
  }
}
