$BLOCK_SHADOW: 0 7px 14px 0 rgba(60, 60, 90, 0.1),
  0 3px 6px 0 rgba(0, 0, 0, 0.07);
.WidgetList {
  display: flex;
  margin: 20px 15px 0;
  padding: 10px;
  background: #fff;
  box-shadow: $BLOCK_SHADOW;
}
