.Widget {
  max-width: 250px;
  height: 180px;
  min-height: 180px;
  max-height: 180px;
  margin: 10px;
  border: 1px solid #adadad;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.Widget__title {
  padding: 5px;
  font-size: 13px;
  margin: 0;
  text-align: center;
}

.Widget__content {
  max-height: 100%;
  flex: 1;
}

.Widget__title + .Widget__content {
  max-height: calc(100% - 30px);
}

.Widget__title::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: #adadad;
}

.night-mode .Widget {
  border-color: #4a4a4a;
}
