.Widget {
  height: 180px;
  min-height: 180px;
  max-height: 180px;
  min-width: 250px;
  width: 250px;
  max-width: 250px;
  margin: 10px;
  border: 1px solid #adadad;
  overflow: hidden;
}

.night-mode .Widget {
  border-color: #4a4a4a;
}
