.PostVisualBacktestChart {
  width: 60%;
  min-height: 75px;
  min-width: 150px;
}

.night-mode .PostVisualBacktestChart {
  border-color: #4a4a4a;
}

@media (min-width: 768px) {
  .PostVisualBacktestChart {
    width: none;
    max-width: 150px;
  }
}
