<h1 class="text-4xl font-black mb-4">Edit User</h1>

<%= render "edit_form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

<span><%= link "Back", to: Routes.user_path(@conn, :index), class: "flex-shrink-0 border-4 text-teal-500 hover:text-teal-800 py-1 px-2 rounded", type: "button" %></span>
