.Guide {
  display: flex;
  width: 600px;
  height: 250px;
  white-space: initial;

  &__left,
  &__right {
    flex: 1;
    padding: 20px;
  }

  &__left {
    display: flex;
    align-items: center;
    background: #1a5f4d;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  &__title,
  h2 {
    color: #fff;
  }

  &__topics {
    margin: 0;
    padding: 15px;
  }

  &__topic {
    cursor: pointer;
    margin-bottom: 15px;
    background: transparent !important;

    button {
      cursor: pointer;
      border: 0;
      outline: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_active {
      color: #26a987;

      button {
        color: #26a987;
      }
    }
  }

  &__title {
    text-align: center;
  }

  &__search {
    width: 100%;
  }
}
