.Guide {
  display: flex;
  width: 600px;
  height: 250px;
  border: 1px solid black;

  &__left,
  &__right {
    flex: 1;
  }

  &__left {
    background: #0a4672;
    color: #fff;
  }

  &__topic {
    cursor: pointer;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &_active {
      color: red;
    }
  }




}
