.DetailedEthTopTransactions .rt-resizable-header-content {
  text-align: center;
}

.DetailedEthTopTransactions .dd__trigger .ui.label {
  margin-right: 5px;
}

.DetailedEthTopTransactions .dd__trigger > a {
  font-size: 14px;
}
