.event-posts-new .panel {
  padding: 0;
}

.event-posts-new-navigation {
  margin: 0;
  padding: 8px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.event-posts-new-navigation ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.event-posts-new-navigation-link {
  margin-right: 10px;
  text-transform: uppercase;
  color: #999;
  user-select: none;
}

.event-posts-new-navigation--active {
  font-weight: bold;
  color: black;
}

.event-posts-new h2 {
  padding-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}

.event-posts-new-step {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.event-posts-new-step label,
.event-posts-new-step .input {
  margin-bottom: 5px;
}

.event-posts-new-step label {
  font-weight: bold;
  font-size: 20px;
}

.event-posts-new-step-control {
  display: flex;
  justify-content: flex-end;
}

.event-posts-step-confirm .event-post {
  border-bottom: none;
}

@media (min-width: 768px) {
  .event-posts-new {
    min-width: 520px;
    max-width: 520px;
  }
}

@media (min-width: 1024px) {
  .event-posts-new h2 {
    margin: 0 0 40px 15px;
  }
}
