@import '../../../../mixins.scss';

$border-color-night: #4a4a4a;

.wrapper {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 2px;
  padding: 0;
}

.suggestions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.suggestions__item {
  border-bottom: 1px solid #dededf;

  &:last-child {
    border-bottom: none;
  }

  :global(.night-mode) & {
    border-color: $border-color-night;
  }
}

.suggestion {
  @include border-box;
  padding: 12px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;

  &:hover,
  &:focus {
    background-color: #f3f4f5;

    :global(.night-mode) & {
      background-color: #2e2e2e;
    }
  }
}

.noresults {
  cursor: initial;
  &:hover,
  &:focus {
    background-color: inherit !important;
  }
}
