.TrendsExamplesItemTopic {
  font-size: 1.1rem;
  text-align: center;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 470px;
  margin: 0 auto 5px;
  padding: 10px;
  background-color: #dde2e8;
}

.TrendsExamplesItemTopic__help {
  background: #f8f8f8;
}
