.TrendsExploreChart {
  background-color: #f5f9ff99;
  padding: 10px 10px;
  position: relative;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(60, 60, 90, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.chart-loading-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: rgb(38, 43, 51);
  font-size: 2em;
  font-weight: 300;
  user-select: none;
  z-index: 9999;
}

@media (min-width: 768px) {
  .TrendsExploreChart {
    padding: 10px 20px;
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
  }
}
