.TrendsExploreHeader {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.TrendsExploreHeader ul {
  padding: 0;
  margin: 0;
}

.TrendsExploreHeaderTitles {
  display: flex;
}

.TrendsExploreHeaderTitles > div {
  flex: 50%;
  border-right: 1px solid #ccc;
}

.TrendsExploreHeaderTitles > div:last-child {
  border-right: none;
}

.TrendsExploreHeaderTitles__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TrendsExploreHeaderTitles .TrendsExamplesItemTopic {
  padding: 0;
  background: transparent;
  margin: 0;
  width: 100%;
  margin-right: 5px;
}
