.TrendsExploreSourcesFilter {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 15px;
}

.TrendsExploreSourcesFilter__item {
  padding: 7px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #ddd;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.TrendsExploreSourcesFilter__item:last-of-type {
  color: #000;
  border-color: #000;
}
