.share-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 12px;
}

.share-options div {
  margin-right: 0.5rem;
  cursor: pointer;
}

.share-options div:last-child {
  margin-right: 0;
}
