.watchlists {
  position: relative;
  display: flex;
  flex-direction: column;
}

.watchlists .watchlists__empty-list-msg {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.watchlists__header {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.watchlists .watchlists__list {
  margin-bottom: 10px;
  min-height: 100px;
}

.watchlists__list .watchlists__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  cursor: pointer;
  min-height: 2em;
  /*border-top: 1px solid rgba(0, 0, 0, 0.05);*/
  border-bottom: 1px solid #eee;
}

.watchlists__list .watchlists__item:first-child {
  border-top: none;
}

.watchlists__item__name {
  display: flex;
}
