.content {
  background-color: #fafafa;
}

.content,
.subtitle,
.content p a {
  color: #ccc;
}

.text {
  font-size: 13px;
}

.title {
  font-size: 22px;
  background: linear-gradient(
    104.74deg,
    rgb(38, 169, 135) 11.08%,
    rgb(45, 121, 208) 92.94%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 19px;
  margin-bottom: 0;
}
