a.link-container {
  border-bottom: none;
}

.link-container {
  display: flex;
  color: #262b33;
  padding: 0 22px 14px 0;
}

.link-container:hover {
  display: flex;
  border-radius: 4px;
  background: #d4d9dd5e;
  color: #262b33;
  transition: 0.05s ease;
}

.link-container:active {
  color: #262b33;
}

.link-container .link-icon {
  margin-top: 18px;
  margin-right: 10px;
  margin-left: 11px;
  min-width: 44px;
  min-height: 44px;
  width: 44px;
  height: 44px;
  transition: box-shadow 0.1s;
}

.link-container:hover .link-icon {
  border: 1px solid transparent;
}

.link-container .link-title {
  margin-top: 15px;
  margin-bottom: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.link-container .link-description {
  font-size: 13px;
  line-height: 16px;
  max-width: 230px;
}
