<SanbaseWeb.TableComponent.form_table
  type="edit"
  resource={@resource}
  data={@data}
  form_fields={@form_fields}
  action={@action}
  changeset={@changeset}
  field_type_map={@field_type_map}
  belongs_to_fields={@belongs_to_fields}
/>