<SanbaseWeb.TableComponent.table resource={@table.resource} model={@table.resource_name} rows={@table.rows} 
                                 fields={@table.fields} funcs={@table.funcs} actions={@table.actions} />