<SanbaseWeb.TableComponent.form_table
  type="new"
  resource={@resource}
  form_fields={@form_fields}
  action={@action}
  field_type_map={@field_type_map}
  changeset={@changeset}
  belongs_to_fields={@belongs_to_fields}
  collections={@collections}
/>