#low-orbit {
  margin-bottom: 10px;
}

#low-orbit .status {
  width: 27%;
}

#low-orbit .status-progress {
  width: 30%;
}

#crypto-projects-item .status {
  widtH: 28.4%;
}

#crypto-projects-item .status-progress {
  width: 20%;
}

#detailed-views-item .status {
  widtH: 28.4%;
}

#detailed-views-item .status-progress {
  width: 20%;
}

#team-wallets-item .status-progress {
  width: 80%;
}

#mobile-port-item .status {
  widtH: 28.4%;
}

#mobile-port-item .status-progress {
  width: 25%;
}

#open-san-api {
  margin-bottom: 10px;
}
