.menu-list-top li {
  display: inline;
  margin: 0;
  padding: 10px 22px;
  cursor: pointer;
}

.app-menu a {
  display: inline;
  font-family: Nunito Sans, sans-serif;
  margin: 0;
  padding: 10px 22px;
  cursor: pointer;
  border: none;
  color: hsla(0, 0%, 100%, 0.8);
  line-height: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.app-menu li a {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8em;
  text-transform: uppercase;
}

.app-menu li:hover {
  background-color: #4f5b69;
  transition: all 0.5s ease;
}

.app-menu a:visited {
  color: hsla(0, 0%, 100%, 0.8);
}

.menu-list-top a:hover {
  background-color: #4f5b69;
  color: hsla(0, 0%, 100%, 0.8);
  transition: all 0.5s ease;
}

.app-menu a.active {
  border-bottom: 2px solid white;
}

.menu-list-top {
  margin-top: 16px;
  padding: 0;
  text-align: right;
  user-select: none;
}

.night-mode .menu-list-top a:hover {
  background-color: #252525;
}

.night-mode .app-menu .search-panel .results {
  background-color: #23252a;
  border-color: #4a4a4a;
}

.night-mode .app-menu .search-panel .result {
  color: #a0a0a0 !important;
}

.night-mode .app-menu .search-panel .result.active,
.night-mode .app-menu .search-panel .result:hover {
  background-color: #2e2e2e !important;
}

.night-mode .app-menu__page-link,
.night-mode .app-menu__page-link:visited {
  color: #cacaca !important;
}

.night-mode .app-menu {
  background: linear-gradient(270deg, #0c362b, #1a2f47, #0d2b22);
  box-shadow: none;
  border-color: #2d3239;
}
