.menu-list-top li {
  display: inline;
  margin: 0;
  padding: 10px 22px;
  cursor: pointer;
}

.app-menu a {
  display: inline;
  font-family: Nunito Sans, sans-serif;
  margin: 0;
  padding: 10px 22px;
  cursor: pointer;
  border: none;
  color: hsla(0, 0%, 100%, 0.8);
  line-height: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.app-menu li a {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8em;
  text-transform: uppercase;
}

.app-menu li:hover {
  background-color: #4f5b69;
  transition: all 0.5s ease;
}

.app-menu a:visited {
  color: hsla(0, 0%, 100%, 0.8);
}

.menu-list-top a:hover {
  background-color: #4f5b69;
  color: hsla(0, 0%, 100%, 0.8);
  transition: all 0.5s ease;
}

.app-menu a.active {
  border-bottom: 2px solid white;
}

.menu-list-top {
  margin-top: 16px;
  padding: 0;
  text-align: right;
  user-select: none;
}
