ul.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list-top li {
  display: inline;
  margin: 0;
  padding: 10px 22px;
  cursor: pointer;
}

.menu-list li {
  margin: 0;
  padding: 10px 22px;
  display: flex;
  cursor: pointer;
}

.menu-list-top li:hover {
  background-color: #4f5b69;
  transition: all 0.5s ease;
}

.user-generated {
  border-bottom: 1px solid white;
}

.menu-list li:hover {
  background-color: #4f5b69;
  transition: all 1s ease;
}

.menu-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  display: list-item;
  list-style-type: none;
}

.menu-list .fa {
  margin-right: 12px;
}

.menu-list .sub-menu {
  margin: 0;
}

.menu-list .sub-menu li {
  margin: 0;
  padding-left: 8px;
}

.menu-list .sub-menu li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-list .sub-menu li .fa {
  font-size: 6px;
  margin-right: 10px;
}

.menu-list li.active {
  border-left: 4px solid white;
}

.menu-list-top {
  margin-top: 16px;
  padding: 0;
  text-align: right;
  user-select: none;
}

.menu-list-top li a {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8em;
  text-transform: uppercase;
}

.app-menu-creation-list {
  display: flex;
  flex-direction: column;
}

.app-menu-creation-list button {
  margin-top: 0.5em !important;
}

.app-menu-creation-list button:first-child {
  margin-top: 0 !important;
}

.app-menu-creation-icon {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 16px;
  color: white;
}

@media (min-width: 1024px) {
  .user-generated {
    border-right: 1px solid white;
    border-bottom: none;
  }
}
