ul.menu-list {
  margin-top: 16px;
  padding: 0;
  list-style: none;
  width: 50%;
  text-align: right;
}

.menu-list li {
  display: inline;
  margin: 0;
  padding: 10px 22px;
  align-items: center;
  cursor: pointer;
}

.menu-list li:hover {
  background-color: #4f5b69;
  transition: all 1s ease;
}

.menu-list li a {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: list-item;
  line-height: 1.8em;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
}
