.user-auth-control {
  padding: 10px 20px;
}

.acct {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.acct i {
  margin-left: 5px;
}

.acct-links a {
  cursor: pointer;
}

.account-name {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .user-auth-control {
    padding: 0;
  }

  .account-name {
    display: none;
  }
}
