.sanbase-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  flex-direction: column;
  margin-top: 3em;
}

.sanbase-footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sanbase-footer__links a {
  margin-left: 1em;
}

.sanbase-footer__links a:first-child {
  margin-left: 0;
}

.sanbase-footer__greetings {
  margin-top: 1em;
}

.cashflow-indev-message {
  margin-bottom: 16px;
}
