.mobile-app-menu {
  z-index: 99999;
}

.mobile-app-menu .app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, #26a987, #2d79d0, #309d81);
  background-size: 300% 300%;
  color: rgba(255, 255, 255, 0.5);
  padding: 16px 22px;
}

.mobile-app-menu.overlay .app-bar {
  background: #262b33;
}

.mobile-app-menu.overlay .app-bar .close-btn--rotation {
  animation: rotate 0.2s 1;
}

.mobile-app-menu .app-bar .brand {
  padding-top: 6px;
}

.mobile-app-menu .app-bar .fa {
  font-size: 1.7em;
}

.mobile-app-menu.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  background-color: #262b33;
  overflow-x: hidden;
}

.mobile-app-menu .overlay-content {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  cursor: pointer;
}

.mobile-app-menu a {
  text-decoration: none;
  text-align: center;
  padding: 10px 22px;
  color: rgba(255, 255, 255, 0.9);
  display: list-item;
  list-style-type: none;
  font-size: 24px;
  font-weight: 600;
  border-bottom: none;
}

.mobile-app-menu a:hover {
  background-color: #4f5b69;
  transition: all 1s ease;
}

.mobile-app-menu a.active {
  color: rgb(24, 186, 55);
}

.mobile-app-menu .button {
  margin: 0 22px !important;
}

.mobile-app-menu .navigation-list {
  flex: 1;
  padding-top: 35%;
}
