.mobile-app-menu {
  z-index: 99999;
}

.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d4450;
  color: rgba(255, 255, 255, 0.5);
  padding: 16px 22px;
}

.app-bar .brand {
  padding-top: 6px;
}

.app-bar .fa {
  font-size: 1.7em;
}

.mobile-app-menu.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  background-color: #262b33;
  overflow-x: hidden;
  transition: 0.5s;
}

.mobile-app-menu .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
}
