.panel {
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(60, 60, 90, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.panel-without-header {
  padding-top: 0;
}

.panel-zero {
  padding: 0;
  margin-top: 0;
}

@media (max-width: 1024px) {
  .panel {
    margin: 0;
  }
}
