h4 {
  margin-bottom: 24px;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #3D4051;
  font-family: 'Source Sans Pro';
  font-weight: 500;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
