.percent-changes {
  font-size: 0.7em;
}

.percent-changes--positive {
  color: rgb(48, 157, 129);
  font-size: 14px;
  /* padding-top: 6px; */
}

.percent-changes--negative {
  color: rgb(200, 47, 63);
  font-size: 14px;
  /* padding-top: 6px; */
}
