.event-post {
  display: flex;
}

.event-post-index {
  margin-right: 4px;
  margin-top: 2px;
  height: 22px;
}

.event-post .event-storylink {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.event-post .event-storylink:visited {
  color: #828282;
}

.event-post .event-post-info {
  display: flex;
  align-items: center;
  color: #828282;
  font-size: 0.8em;
  margin-top: 2px;
}

.event-post .event-post-info .account-name {
  margin: 0;
}

.event-post-votes {
  padding: 5px 7px;
  margin-right: 5px;
  box-shadow: 0 0 0 0.5px rgba(50, 50, 93, 0.17), 0 2px 5px 0 rgba(50, 50, 93, 0.1);
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #000;
  cursor: pointer;
}

.event-post .post-status span {
  font-weight: 600;
  color: black;
  text-transform: lowercase;
}

.event-post .post-status {
  color: #3e3e3e;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid rgba(50, 50, 93, 0.17);
}

@keyframes skeletonAnimation {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.8;
  }
}

.pending {
  color: #bdc3c7 !important;
  background-color: #bdc3c7 !important;
  border-color: #bdc3c7 !important;
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pending-home {
  color: white;
  background-color: white;
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
