.event-post {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
}

.event-post:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.event-posts-step-confirm .event-post:hover {
  background-color: white;
  cursor: default;
}

.event-post .event-post-index {
  margin-right: 4px;
  margin-top: 2px;
  height: 22px;
}

.event-post .post-status .label {
  user-select: none;
}

.event-post .event-post-body {
  flex: 1;
}

.event-post-body-link {
  padding: 15px;
  width: 100%;
}

.event-post-body-link:hover {
  background-color: #f9f9f9;
}

.event-post .event-storylink {
  color: black;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  text-decoration: none;
}

.event-post .event-storylink:visited {
  color: #828282;
}

.event-post .event-post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}

.event-post .event-post-author {
  color: #828282;
  font-size: 0.8em;
}

.event-post .event-post-info .account-name {
  margin: 0;
}

.event-post-votes {
  padding: 5px 7px;
  margin-right: 5px;
  box-shadow: 0 0 0 0.5px rgba(50, 50, 93, 0.17), 0 2px 5px 0 rgba(50, 50, 93, 0.1);
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #000;
  cursor: pointer;
}

.event-post .post-status span {
  font-weight: 600;
  color: black;
  text-transform: lowercase;
}

.event-post-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.event-post .post-status {
  color: #3e3e3e;
  padding: 0;
  margin: 0;
}

@keyframes skeletonAnimation {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.8;
  }
}

.pending {
  color: #bdc3c7 !important;
  background-color: #bdc3c7 !important;
  border-color: #bdc3c7 !important;
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pending-home {
  color: white;
  background-color: white;
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
