.projects-navigation {
  display: flex;
  align-items: center;
  margin: 1em 0;
  padding: 0 16px;
}

.projects-navigation-list {
  display: flex;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

.night-mode .projects-navigation-list {
  box-shadow: none;
}

.projects-navigation-list__page-link {
  padding: 12px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 1px inset, rgb(230, 235, 241) -1px 0 inset;
}

.night-mode .projects-navigation-list__page-link {
  color: #727272;
  box-shadow: #2d3239 0 1px inset, #2d3239 -1px 0 inset;
}

.projects-navigation-list__page-link:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.projects-navigation-list__page-link:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.night-mode .projects-navigation-list__page-link:first-child {
  border-left: 1px solid #2d3239;
}

.projects-navigation-list__page-link--active {
  color: #26a987;
  box-shadow: rgb(38, 169, 135) 0 3px inset, rgb(230, 235, 241) -1px 0 inset;
  background: white;
}

.night-mode .projects-navigation-list__page-link--active {
  color: #a0a0a0;
  background: #252525;
  box-shadow: #2d3239 0 3px inset, #2d3239 -1px 0 inset;
}

.projects-navigation span {
  margin: 18px 0 0 16px;
  padding-left: 16px;
}

.categories-button {
  margin-left: auto !important;
}

.categories-links {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.categories-links .checkbox {
  margin: 0.5em 0 0 !important;
}

.categories-links .checkbox:first-child {
  margin-top: 0 !important;
}

.categories-links .clear-all-categories {
  margin: 1.5em 0 0 !important;
}
