.search-panel {
  padding: 12px;
  /* padding: 0;
  margin-top: 16px; Y */
}

.search-panel .ui .input {
  min-width: 100%;
}

.search-panel input {
  border-radius: 4px !important;
}

@media (min-width: 1024px) {
  .search-panel .input {
    min-width: 425px;
    margin: 16px 16px 0 16px;
  }
}

.search-panel .ui.input input {
  border-radius: 4px !important;
  border: none !important;
}
.search-panel .ui .input {
  min-width: 425px;
}

/* there's some stuff with this ui input that's funky */
