.user-auth-control {
  padding-left: 20px;
}

.user-auth-control a {
  cursor: pointer;
}

.user-auth-control button {
  width: 90%;
}

.night-mode .user-auth-control .button {
  background-color: #1e2024;
}

.night-mode .user-auth-control .button i {
  color: #a0a0a0;
}
