.top-menu {
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08); */
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: auto;
  width: 100%;
  font-size: 13px;

}

.acct {
  background: linear-gradient(270deg, #c82f3f, #316bae, #309d81);
  background-size: 300% 300%;
  display: flex;
  padding: 0 48px;
}
.nav {
  display: flex;
  background: rgba(38, 43, 51, 0.1);
  padding: 0 36px;
}

.top-menu .brand {
  font-size: 18px;
  padding: 16px 16px 0 0;
}


.top-menu ul li {
  line-height: 1.8em;
  margin-left: 0;
  cursor: pointer;
  width: 50%;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
}

.top-menu .selected {
  color: rgba(255,255,255,1.0);
  font-size: bold;
}


.top-menu .user-auth-control {
  text-align: right;
  display: inline-flex;
}

.top-menu .user-auth-control a {
  color: #fff !important;
  cursor: pointer;
}

.top-menu .user-auth-control button,
.top-menu .user-auth-control .ui.basic.green.button {
  border: none !important;
  box-shadow: none !important;
  width: 20%;
}
