.top-menu {
  background: linear-gradient(270deg, #c82f3f, #316bae, #309d81);
  background-size: 300% 300%;
  display: flex;
  font-size: 13px;
  padding: 0 48px;
  position: relative;
}

.top-menu .left {
  display: flex;
  width: 50%;
}

.top-menu .right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.top-menu .brand {
  cursor: pointer;
  font-size: 18px;
  padding: 16px 16px 0 0;
}

.top-menu ul li {
  line-height: 1.8em;
  margin-left: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.top-menu .selected {
  color: rgba(255, 255, 255, 1);
  font-size: bold;
}

.top-menu .user-auth-control {
  margin: 8px;
  margin-top: 12px;
  position: relative;
}

.top-menu .user-auth-control button,
.top-menu .user-auth-control .acct {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: 300;
  padding: 7px 24px;
  margin: 0;
  text-transform: uppercase;
}

.top-menu .user-auth-control .address {
  display: none;
}

.top-menu .user-auth-control .acct-links {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  right: 0;
  width: 200px;
}

.acct-links ul {
  margin: 0;
  padding: 0;
}
