.pricing-details {
  font-size: 14px;
  color: #262b33;
  font-weight: 400;
  user-select: none;
}

.pricing-details__label {
  color: #2d79d0;
  font-weight: 600;
}

.pricing-details span {
  color: #262b33;
  font-weight: 600;
  text-decoration: underline;
}
