.DateRangePicker {
  margin-right: 20px;
  box-shadow: 0 0 0 0.5px rgba(50, 50, 93, 0.17), 0 2px 5px 0 rgba(50, 50, 93, 0.1);
}

.DateRangePickerInput__withBorder {
  border: none;
}

.CalendarDay__selected {
  background: hsl(146, 63%, 35%);
  color: white;
}

.DateInput_input {
  border: none;
}

.DateInput_input__focused {
  background: #21ba45;
  color: #fff;
}

.CalendarDay__selected_span {
  background: hsl(146, 63%, 50%);
}

.CalendarDay__selected_start,
.CalendarDay__selected_end {
  background: hsl(146, 63%, 35%);
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: hsl(146, 63%, 35%);
  border: 2px solid hsl(45, 91%, 90%);
  color: #fff;
}
