.event-votes .panel {
  padding: 0;
  padding-bottom: 1px;
}

.insights-page-rows {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.insights-page-navs {
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  order: 2;
}

.event-votes-navs-list {
  display: flex;
  flex-direction: column;
}

.insights-page-content {
  flex: 1;
}

.insights-page-navs a {
  font-size: 16px;
  text-transform: uppercase;
  color: #26a987;
}

.insights-page-navs a:hover,
.insights-page-navs a:focus {
  color: black;
}

.cta-subscription {
  padding: 20px;
}

.cta-subscription #mc_embed_signup {
  width: 100%;
}

.cta-subscription #mc_embed_signup input.email {
  min-width: none;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  padding: 0 10px;
  height: 34px;
  outline: none;
}

.cta-subscription #mc_embed_signup input.button {
  margin-top: 0;
  width: 100%;
}

.event-votes-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insights-page-sidebar {
  width: 260px;
  min-width: 250px;
  margin: 0 auto;
}

.insights-page-sidebar .panel {
  display: none;
}

.insights-page-sidebar .insights-page-sidebar-highlights {
  text-align: center;
  margin-bottom: 1em;
}

.insights-page-sidebar .insights-page-sidebar-highlights a {
  border-bottom: 1px solid #b1b7c1;
}

.insights-page-sidebar .insights-page-sidebar-highlights div:first-child {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .insights-page-rows {
    flex-direction: row;
  }

  .insights-page-content {
    min-width: 520px;
    max-width: 520px;
    order: 2;
  }

  .insights-page-navs {
    order: 1;
    margin-right: 30px;
    max-width: 220px;
    margin-top: 16px;
    text-align: left;
  }

  .insights-page-sidebar {
    order: 3;
    margin-top: 16px;
    margin-left: 20px;
  }

  .insights-page-sidebar .panel {
    display: block;
    margin: 16px 0 0 0;
  }

  .insights-page-sidebar .insights-page-sidebar-highlights {
    text-align: left;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .event-votes .ui.message {
    margin: 16px !important;
  }
}
