.insight-panel {
  padding: 16px !important;
}

.insight-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insight-panel-header button {
  text-transform: uppercase !important;
}

.insight-content .md-RichEditor-root {
  padding: 0;
}

.insight-panel-footer {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
}

.insight-login-request {
  margin: 0 auto;
  margin-top: 16px;
}
