.insights-page {
  padding: 0 !important;
  margin: 0 !important;
  max-width: initial !important;
}

.insights-page .panel {
  padding: 0;
  padding-bottom: 1px;
}

.insights-page-rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.event-votes-navs-list {
  display: flex;
  flex-direction: column;
}

.insights-page-content {
  flex: 1;
}

.insights-page-content .insight-panel {
  margin: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.insights-page-content .insight-list {
  padding: 0 10px;
}

.insights-page-content .DraftEditor-editorContainer {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.84);
}

.night-mode .insights-page-content .DraftEditor-editorContainer {
  color: #a0a0a0;
}

.insights-page-sidebar {
  width: 260px;
  min-width: 250px;
  padding: 10px;
}

.insights-page-navs {
  display: flex;
  flex-direction: column;
}

.insights-page-navs a {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #26a987;
}

.insights-page-navs a:hover,
.insights-page-navs a:focus {
  color: black;
}

.insights-page-navs a.active {
  color: black;
}

.insights-page-navs .new-insights-button {
  border-radius: 0;
  margin-top: 1em;
}

.insights-page-sidebar .panel {
  display: none;
}

.insights-page-sidebar .insights-page-sidebar-highlights {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.insights-page-sidebar .insights-page-sidebar-highlights a {
  border-bottom: 1px solid #b1b7c1;
}

.cta-subscription {
  padding: 20px;
}

.cta-subscription #mc_embed_signup {
  width: 100%;
}

.cta-subscription #mc_embed_signup input.email {
  min-width: none;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  padding: 0 10px;
  height: 34px;
  outline: none;
}

.cta-subscription #mc_embed_signup input.button {
  margin-top: 0;
  width: 100%;
}

.event-votes-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .insights-page {
    padding: 0 48px;
  }

  .insights-page-rows {
    flex-direction: row;
    padding: 0 32px;
    min-width: 1024px;
    max-width: 1164px;
  }

  .insights-page-content {
    min-width: 520px;
  }

  .insights-page-content .insight-panel {
    box-shadow: 0 7px 14px 0 rgba(60, 60, 90, 0.1),
      0 3px 6px 0 rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin-top: 16px;
  }

  .insights-page-navs {
    margin-right: 30px;
    max-width: 220px;
    margin-top: 16px;
    text-align: left;
  }

  .insights-page-sidebar {
    margin-top: 16px;
    margin-left: 20px;
    padding: 0;
  }

  .insights-page-sidebar .panel {
    display: block;
    margin: 16px 0 0 0;
  }

  .insights-page-sidebar .insights-page-sidebar-highlights {
    text-align: left;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .event-votes .ui.message {
    margin: 16px !important;
  }
}
