@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}