@import "tailwindcss";

@config "../tailwind.config.js";

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-primary: oklch(63% 0.21 36);
  --color-primary-content: oklch(98% 0.01 0);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: dark;
  --color-primary: oklch(63% 0.21 36);
  --color-primary-content: oklch(98% 0.01 0);
}

@custom-variant phx-submit-loading (.phx-submit-loading &);

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.scroll-bar-custom::-webkit-scrollbar {
  width: 8px;
}

.scroll-bar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.375rem;
}
