.projects-table {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 16px 5px 16px;
}

.datatables-filter {
  margin-bottom: 16px;
  min-width: 25%;
}

.datatables-filter label {
  width: 100%;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.datatables-filter input {
  width: 100%;
  margin-left: 0;
  padding: 8px;
  line-height: 1.25;
  color: #464a4c;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  outline-offset: -2px;
  overflow: visible;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.datatables-filter input:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
}

.rt-thead.-filters {
  display: none;
}

.datatables-info label {
  font-size: 12px;
  margin-bottom: 16px;
  display: inline-block;
}

.projects-table .ReactTable {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: -16px;
  margin-right: -16px;
  overflow-y: hidden;
  min-height: 350px;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid 1px rgba(0, 0, 0, 0.14);
}

.rt-td:hover {
  cursor: pointer;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px;
}

.rt-tr:hover {
  background-color: #f2f2f2 !important;
  transition: background 0.25s ease-in;
}

.ReactTable .rt-th {
  background-color: white;
  border: none !important;
  padding: 10px !important;
  font-size: 12px;
  outline: none;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.03em;
  white-space: normal;
}

.ReactTable .rt-td > div {
  font-size: 18px;
  line-height: 1.2;
}

.ReactTable .rt-thead .rt-tr {
  text-align: right;
}

.ReactTable .rt-thead .rt-tr .rt-th:nth-child(2) {
  text-align: left;
}

.ReactTable .rt-thead .rt-tr .rt-th:nth-child(7),
.ReactTable .rt-thead .rt-tr .rt-th:last-child,
.ReactTable .rt-tbody .rt-td:last-child > div {
  text-align: center;
}

.ticker {
  font-size: 14px;
}

.-sort-desc,
.-sort-asc {
  background-color: rgba(0, 150, 99, 0.08);
}

.rt-td .overview-name {
  border-bottom: 1px solid #b1b7c1;
  display: inline-block;
  padding-bottom: 1px;
  padding-top: 12px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rt-td .overview-name:hover {
  color: #26a987;
}

.rt-td .overview-price,
.rt-td .overview-volume,
.rt-td .overview-marketcap,
.rt-td .overview-balance,
.rt-td .overview-ethspent,
.rt-td .overview-devactivity,
.rt-td .overview-activeaddresses {
  padding-top: 3px;
  text-align: right;
}

.rt-td .overview-pb {
  padding-top: 12px;
  text-align: center;
}

.rt-td .overview-marketcap,
.rt-td .overview-ethspent,
.rt-td .overview-devactivity,
.rt-td .overview-activeaddresses {
  padding-top: 12px;
}

.rt-td .overview-ticker {
  font-size: 14px;
  line-height: 1 !important;
  padding-top: 6px;
  text-align: center;
}

.ReactTable .wallet {
  display: flex;
  flex-direction: column;
}

.ReactTable .wallet .usd {
  flex: 1;
}

.ReactTable .wallet .eth {
  font-size: 14px;
}

.ReactTable .wallet .eth i {
  font-size: 15px;
}

.findwallet {
  border-bottom: none;
}

.ReactTable .cell-signals {
  width: 100%;
  height: 100%;
  padding: 15px 0 0 0;
  text-align: center;
}

.eth-sent-item {
  text-align: right;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .rt-td > div {
    font-size: 16px;
    padding: 0;
  }

  .rt-td .overview-ticker {
    font-size: 12px;
    padding-top: 4px;
  }

  .rt-td .overview-name,
  .rt-td .overview-marketcap,
  .rt-td .overview-ethspent,
  .rt-td .overview-devactivity,
  .rt-td .overview-activeaddresses {
    padding-top: 9px;
  }
}

@media all and (min-width: 768px) and (max-width: 1440px) {
  .projects-table {
    width: 100%;
    min-width: 100%;
  }
}

.projects-table-tips {
  text-align: 'center';
}

.page-head-projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-head.page-head-projects {
  margin: 0;
}

@media (min-width: 1025px) {
  .page-head.page-head-projects {
    margin-top: 16px;
  }
}

.page-head-projects__left {
  display: flex;
  align-items: center;
}

.projects-search-row {
  justify-content: initial;
}
