.signals-input-wrapper {
  display: flex;
  justify-content: center;
}

.signals-input input {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.signals-input i.search {
  color: black !important;
}
