.watchlists {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.list {
  margin-bottom: 10px;
  min-height: 100px;
}

.item {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  min-height: 2em;
  border-bottom: 1px solid #eee;
  padding: 8px 15px;
}

.item:hover {
  background: #d4d9dd5e;
  color: #262b33;
  transition: 0.05s ease;
}

.item:first-child {
  border-top: none;
}

.tools {
  display: flex;
  align-items: center;
}

.tools .icon {
  margin: 5px;
  margin-left: 0;
  margin-right: 10px;
}

.name {
  text-transform: uppercase;
}

.included {
  color: green;
}

.description {
  margin-right: 1em;
}

/* stylelint-disable */
.description :global .label {
  background-color: #d4d9dd5e;
}
/* stylelint-enable */

.emptyListMsg {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
