@import 'variables.scss';

.TrendsPage__header {
  margin: 10px 0 25px;
}

.TrendsPage__header div {
  display: flex;
  justify-content: center;
}

@media (min-width: $breakpoint-tablet) {
  .TrendsPage__header {
    margin: 20px 0 25px;
  }
}
