.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}

.side-menu {
  height: 100vh;
  min-height: 100%;
  width: 15%;
  max-width: 15%;
  font-size: 13px;
  background-color: #262b33;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .side-menu {
    min-width: 20%;
  }
}

.side-menu .brand {
  padding-top: 22px;
  padding-bottom: 14px;
  background-color: #3d4450;
  text-align: center;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
}

.side-menu ul li {
  line-height: 1.8em;
  margin-left: 0;
  cursor: pointer;
}

.side-menu .selected {
  color: white;
  font-size: bold;
}

.App .page {
  flex: 1;
  padding: 0 15px;
  max-width: 1024px;
}

.App .offline-status-message {
  color: #794b02;
  background: #fffaf3;
  text-align: center;
  font: 15px/1.6 "Nunito Sans", sans-serif;
  font-weight: bold;
}

.App .no-username-status-message {
  text-align: center;
  background-color: #ffbe00;
}

.App .no-username-status-message a {
  display: inline-block;
  padding: 5px;
  border-bottom: 0;
  width: 100%;
}

.App .no-username-status-message a,
.App .no-username-status-message a:hover {
  color: #000;
}

.button {
  box-shadow: 0 4px 6px rgba(45, 156, 129, 0.12), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
}

.button:focus,
.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(45, 156, 129, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

@media (max-width: 767px) {
  .App .page {
    padding: 0 15px;
    overflow-y: auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .App .page::-webkit-scrollbar {
    display: none;
  }
}

.page-head {
  margin-top: 35px;
  margin-right: 20px;
}

.App .page h1 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 51px;
  color: #171717;
}

.page-head p {
  margin-left: 0;
  margin-bottom: 30px;
}

.fa-disabled {
  color: #d3d3d3;
}

.ui.modal {
  margin-top: 20px !important;
}

.ui.page.modals {
  display: flex !important;
}

@supports (--css: variables) {
  :root {
    --progress-bg-color: #d3d3d3;
  }

  #nprogress .bar {
    background: var(--progress-bg-color);
  }

  #nprogress .peg {
    box-shadow: 0 0 10px var(--progress-bg-color), 0 0 5px var(--progress-bg-color);
  }

  #nprogress .spinner-icon {
    border-top-color: var(--progress-bg-color);
    border-left-color: var(--progress-bg-color);
  }
}

@media (min-width: 1024px) {
  .App .page {
    margin: 0 auto;
  }

  .page-head {
    margin-top: 25px;
    margin-right: 20px;
  }

  .page-head p {
    margin-left: 16px;
    margin-bottom: 30px;
  }
}
