.App {
  display: flex;
}

.side-menu {
  height: 100vh;
  min-height: 100%;
  width: 15%;
  max-width: 15%;
  font-size: 13px;
  background-color: #262b33;
  color: rgba(255,255,255,0.5);
}

.side-menu .brand {
  padding: 1.5em 0;
  padding-bottom: 1.2em;
  background-color: #3d4450;
  text-align: center;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
}

.side-menu ul li {
  line-height: 1.8em;
  margin-left: 0px;
  padding-left: 5px;
  cursor: pointer;
}

.side-menu .selected {
  color: white;
  font-size: bold;
}

.page {
  flex: 1;
  padding: 0 15px;
  height: 100vh;
  overflow-y: auto;
}

.page h1 {
  font-size: 32px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 32px 0 32px 16px;
  line-height: 51px;
  color: #171717;
  margin-bottom: 0.5rem;
}

.page-head p {
  margin-left: 16px;
  margin-bottom: 30px;
}

.panel {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  border-radius: 2px;
  border: 1px solid #e2edeb;
  padding: 16px;
  margin: 16px;
}
