body {
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;
  font: 14px/1.6 "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #3d4450;
}

a {
  color: #009663;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin-left: 16px;
  margin-top: 32px;
  line-height: inherit;
  color: #262b33;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: inherit;
  color: #262b33;
}

h3 {
  font-size: 21px;
  font-weight: 300;
  line-height: inherit;
  color: #262b33;
}

p {
  margin-top: 0;
  line-height: 22.4px;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 24px;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #3d4051;
  font-weight: 500;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  h1 {
    margin-left: 0;
  }

  .panel {
    margin: 16px 0;
    padding: 8px;
  }
}

.ui.button {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: initial;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ui.positive.button {
  background-color: #26a987;
}

.ui.basic.button {
  background: rgba(45, 121, 208, 1) !important;
  color: #fff !important;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.03em;
  text-align: center !important;
  text-transform: uppercase;
}

.ui.basic.button.metamask-btn {
  background: rgba(235, 133, 37, 1) !important;
}

.ui.active.button:active,
.ui.button:active {
  background-color: #3d4450;
  color: #fff;
}
