body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font: 14px/1.6 "Source+Sans+Pro", sans-serif;
  font-family: sans-serif;
  font-weight: 400;
  color: "#3D4051";
}

a {
  color: #009663;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin-left: 16px;
  margin-top: 32px;
  line-height: inherit;
  color: #171717;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: inherit;
  color: #171717;
}

h3 {
  font-size: 21px;
  font-weight: 300;
  line-height: inherit;
  color: #171717;
}

p {
  margin-top: 0;
  line-height: 22.4px;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  h1 {
    margin-left: 0;
  }

  .panel {
    margin: 16px 0;
    padding: 8px;
  }
}
