.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginContainer {
  padding: 1em;
  max-width: 70%;
  border-radius: 2px;
}

.loginContainer .content {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 620px) {
  .loginContainer {
    max-width: 100%;
    border-radius: 0;
    border: 0;
  }
}
