.wrapper {
  display: flex;
  /*background-color: white;*/
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginContainer {
  padding: 1em;
  background: white;
  max-width: 70%;
  border-radius: 2px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

.loginContainer .content {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 620px) {
  .loginContainer {
    max-width: 100%;
    border-radius: 0;
    border: 0;
  }
}
