@mixin border-box {
  box-sizing: border-box;
}

// Most common screen sizes
// https://uiux.cc/blog/the-most-used-responsive-breakpoints-in-2017-of-mine/
$desktopMinWidth: 1200px;
$laptopMinWidth: 992px;
$tabletMinWidth: 768px;
$phoneMinWidth: 480px;

@mixin responsive($device) {
  @if $device == 'desktop' {
    @media only screen and (min-width: $desktopMinWidth) {
      @content;
    }
  }

  @if $device == 'laptop' {
    @media only screen and (min-width: $laptopMinWidth) and (max-width: ($desktopMinWidth - 1px)) {
      @content;
    }
  }

  @if $device == 'tablet' {
    @media only screen and (min-width: $tabletMinWidth) and (max-width: ($laptopMinWidth - 1px)) {
      @content;
    }
  }

  @if $device == 'phone' {
    @media only screen and (min-width: $phoneMinWidth) and (max-width: ($tabletMinWidth - 1px)) {
      @content;
    }
  }

  @if $device == 'phone-xs' {
    @media only screen and (max-width: ($phoneMinWidth - 1px)) {
      @content;
    }
  }
}
