.menu-list ul {
  margin-top: 24px;
  padding: 0;
  list-style: none;
}

.menu-list li {
  margin: 0;
  padding: 10px 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-list li:hover {
  background-color: #4f5b69;
  transition: all 1s ease;
}

.menu-list li a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  display: list-item;
  list-style-type: none;
}

.menu-list .fa {
  margin-right: 12px;
}

.menu-list .sub-menu {
  margin: 0;
}

.menu-list .sub-menu li {
  margin: 0;
  padding-left: 48px;
}

.menu-list .sub-menu li:hover {
  background-color: rgba(255,255,255,0.2);
}

.menu-list .sub-menu li .fa {
  font-size: 6px;
  margin-right: 10px;
}

.user-auth-control {
  padding-left: 20px;
}

.user-auth-control a {
  cursor: pointer;
}

.user-auth-control button {
  width: 90%;
}
