$max-width: 1024px;

$breakpoint-mobile: 360px;
$breakpoint-tablet: 760px;
$breakpoint-desktop: 980px;

$disabled: #d3d3d3;

// INPUT
$input-color-night: #a0a0a0;
$input-placeholder-color-day: #999;
$input-placeholder-color-night: #4b4b4b;
