.widget {
  background-color: #fff;
}

.wrapper {
  padding: 10px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: 136px;
}

.title {
  line-height: 1.12;
  font-size: 17px;
  margin: 0 0 6px;
  font-weight: bold;
  max-height: 2.3em;
  overflow: hidden;
}

.title > a {
  border-bottom: 0;
}

.articleContent {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.content {
  line-height: 1.2em;
  max-height: 4.7em;
  margin-bottom: 6px;
  overflow: hidden;
  font-size: 13px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.info {
  font-size: 13px;
  margin: 0;
  color: #aaa;
}

.info > a {
  color: #aaa;
}

.info_author {
  max-width: 52%;
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
}

.list {
  margin: 0;
}
