.md-side-toolbar {
  left: -40px;
}

.md-add-button {
  border: none;
}

.md-open-button {
  border: none;
}

.md-sb-img-button {
  border: none !important;
}

.public-DraftEditor-content .md-block-paragraph {
  margin: 10px 0;
}
