.HelpPopupIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  height: 22px;
  min-width: 22px;
  max-width: 22px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

.night-mode .HelpPopupIcon {
  border-color: #a0a0a0;
}
