.InsightsWidgetItem {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.InsightsWidgetItem__title {
  line-height: 1.12;
  font-size: 17px;
  margin: 0 0 6px;
  font-weight: bold;
  max-height: 2.4em;
  overflow: hidden;
}

.InsightsWidgetItem__title > a {
  border-bottom: 0;
}

.InsightsWidgetItem__text {
  line-height: 1.2em;
  max-height: 4.7em;
  overflow: hidden;
}

.InsightsWidgetItem__article-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom: 5px;
}

.InsightsWidgetItem__content img {
  max-width: 100%;
}

.InsightsWidgetItem__bottom {
  display: flex;
  justify-content: space-between;
}

.InsightsWidgetItem__info {
  font-size: 13px;
  margin: 0;
  color: #aaa;
}

.InsightsWidgetItem__info > a {
  color: #aaa;
}

.InsightsWidgetItem__info_author {
  max-width: 52%;
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
}
