@import '../../../variables.scss';

.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  padding: 0 10px;
  height: 100%;
  color: $input-placeholder-color-day;

  :global(.night-mode) & {
    color: $input-placeholder-color-night;
  }

  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.input {
  &.left {
    padding-left: 35px;
  }

  &.right {
    padding-right: 35px;
  }

  &:focus + .icon {
    color: #000;

    :global(.night-mode) & {
      color: $input-color-night;
    }
  }
}
