.ColorModeComparison {
  display: flex;
}

.ColorModeComparison__column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.ColorModeComparison__title {
  display: inline;
  font-size: 14px;
  text-align: center;
  margin: 0 0 10px;
  border-bottom: 1px solid #999;
  font-family: Arial, Helvetica, sans-serif;
}

.ColorModeComparison__column.night-mode {
  background-color: #1c1e20;
}

.night-mode .ColorModeComparison__title {
  color: #a0a0a0;
}

.br {
  padding: 5px;
}
