.header-project-column {
  display: flex;
}

.ethereum-table-cell-funds-collected,
.ethereum-table-cell-eth-spent {
  text-align: right !important;
}

.wallet-addresses {
  font-size: 14px;
}

.wallet-addresses a {
  line-height: 1.7;
}
