<nav class="bg-blue-500 p-4">
  <%= link to: Routes.generic_path(@conn, :home), class: "text-white hover:text-gray-300" do %>
    <.icon name="hero-home" class="mr-2" />
    Admin Home
  <% end %>
</nav>
<%= @inner_content %>
