.time-filter {
  display: flex;
  user-select: none;
  cursor: pointer;
  min-width: 32px;
  text-align: center;
  border-radius: 4px;
}

.time-filter .time-filter-item--selected {
  background: rgba(38, 43, 51, 0.8);
  color: white;
}

.time-filter .time-filter-item--disabled {
  color: #888;
}

.night-mode .time-filter,
.night-mode .time-filter-item--selected {
  color: #a0a0a0;
  background-color: #252932;
}

.night-mode .time-filter-item--disabled {
  color: #595959;
}
