.chart-footer {
  border-top: 1px solid rgb(216, 216, 218);
}

.toggleBtn {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}

.toggleBtn div i {
  margin-right: 0;
}

.toggleBtn .label {
  margin-right: 5px !important;
  font-size: 10px;
}

.toggleBtn .icon {
  margin-bottom: 6px;
  margin-left: 3px;
}

.marketcapLabel {
  color: rgb(52, 118, 153) !important;
  background-color: rgb(52, 118, 153) !important;
  border-color: rgb(52, 118, 153) !important;
}

.volumeLabel {
  color: rgba(38, 43, 51, 0.25) !important;
  background-color: rgba(38, 43, 51, 0.25) !important;
  border-color: rgba(38, 43, 51, 0.25) !important;
}

.githubActivityLabel {
  color: rgb(96, 76, 141) !important;
  background-color: rgb(96, 76, 141) !important;
  border-color: rgb(96, 76, 141) !important;
}

.burnRateLabel {
  color: rgb(252, 138, 23) !important;
  background-color: rgb(252, 138, 23) !important;
  border-color: rgb(252, 138, 23) !important;
}

.transactionVolumeLabel {
  color: rgb(39, 166, 153) !important;
  background-color: rgb(39, 166, 153) !important;
  border-color: rgb(39, 166, 153) !important;
}

.twitterLabel {
  color: rgb(16, 195, 245) !important;
  background-color: rgb(16, 195, 245) !important;
  border-color: rgb(16, 195, 245) !important;
}

.ethSpentOverTimeLabel {
  color: yellow !important;
  background-color: yellow !important;
  border-color: yellow !important;
}

.filter-category {
  display: flex;
  padding: 0;
  margin: 15px 0;
  border-right: 1px solid rgb(231, 231, 231);
  user-select: none;
}

.filter-category:last-child {
  border: none;
}

.filter-category-title {
  margin: 0;
  font-weight: 400;
}

.filter-category-body {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.filter-category-body .toggleBtn:last-child {
  margin-right: 0;
}

.filter-category-blockchain .filter-category-body {
  flex-direction: column;
  justify-content: end;
}

.filter-category-blockchain .filter-category-title {
  flex: 1;
  text-align: left;
}

.blockchain-settings {
  display: flex;
  flex-direction: column;
}

.blockchain-settings .checkbox {
  margin-bottom: 5px;
}

.blockchain-settings .checkbox:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .chart-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chart-footer-filters {
    display: flex;
    align-items: center;
  }

  .filter-category {
    flex-direction: column;
    align-items: normal;
    padding: 5px 20px;
  }

  .filter-category-title {
    margin-bottom: 10px;
  }

  .filter-category-blockchain {
    justify-content: end;
  }

  .filter-category-blockchain .filter-category-title {
    text-align: center;
  }

  .filter-category-blockchain .filter-category-body {
    flex-direction: row;
    justify-content: end;
  }

  .toggleBtn {
    justify-content: flex-start;
  }

  .filter-category-body .toggleBtn {
    margin-right: 10px;
  }
}
