.AssetsChart {
  background: rgba(245, 249, 255, 0.6);
  position: relative;
  padding: 0;
}

.AssetsChartPanel {
  padding: 0 !important;
}

@media (max-width: 1024px) {
  .AssetsChartPanel {
    border-radius: 0;
    box-shadow: none;
  }
}
