.dd-wrapper {
  position: relative;
}

.dd {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 9999;
  top: 60px;
  opacity: 0;
  transition: 0.25s ease;
}

.dd.dd-first-time {
  transition: opacity 0.25s ease;
}

.dd__bg,
.dd__arrow {
  position: absolute;
}

.dd__bg {
  background-color: #fff;
  opacity: 1;
  transition: 0.25s ease;
  border-radius: 5px;
  overflow: hidden;
  z-index: -1;
  border: 1px solid #777;
  width: 100%;
  height: 100%;
}

.dd__arrow {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
  transition: 0.25s ease;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  border-left: 1px solid #777;
  border-top: 1px solid #777;
  left: 50%;
}

.dd__list {
  overflow: hidden;
  position: absolute;
  z-index: 999999;
  width: 100%;
  height: 100%;
}

.dd__content {
  position: absolute;
  opacity: 0;
  transition: 0.25s ease;
  padding: 0.833em 1em;
  z-index: 1;
  white-space: nowrap;
}

.dd__trigger {
  display: inline-block;
}

.dd.has-dropdown-active {
  opacity: 1;
}

.dd__item.active .dd__content {
  opacity: 1;
  z-index: 999;
}

.night-mode .dd__bg,
.night-mode .dd__arrow {
  background-color: #23252a;
  border-color: #4a4a4a;
}
