.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.menu .sub-menu-shadow {
  position: absolute;
  display: none;
}

.menu__item:hover > .sub-menu-shadow {
  display: block;
}

.dropdown-holder {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
}

.dropdown__bg,
.dropdown__arrow {
  position: absolute;
}

.dropdown__bg {
  width: 450px;
  height: 400px;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
  z-index: -1;
  border: 1px solid #777;
}

.dropdown__arrow {
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white;
  top: -20px;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
}

.dropdown__wrap {
  overflow: hidden;
  position: absolute;
  transition: 0.3s ease;
  z-index: 999999;
}

.dropdown-menu__content {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease;
  padding: 0.833em 1em;
  z-index: 1;
}

.dd-dropdown-menu.active .dropdown-menu__content {
  opacity: 1;
  z-index: 999;
}

.dd.dropdown-holder.has-dropdown-active .dropdown__arrow,
.dd.dropdown-holder.has-dropdown-active .dropdown__bg {
  opacity: 1;
}

/* .dd.dropdown-holder.has-dropdown-active .dropdown__bg,
.dd-dropdown-menu.active .dropdown-menu__content,
.dd.dropdown-holder.has-dropdown-active .dropdown__arrow,
.dd.dropdown-holder.has-dropdown-active .dropdown__wrap {

} */

.dd {
  z-index: 9999;
  top: 60px;
}

.dd__trigger {
  display: inline-block;
}

.dd__content {
  white-space: nowrap;
}
