@import '../../../mixins.scss';

$input-border-day: #dededf;
$input-border-night: #2d3239;

$input-border-focus-day: #85b7d9;
$input-border-focus-night: #1b3f58;

$input-color-night: #a0a0a0;

$input-placeholder-color-day: #999;
$input-placeholder-color-night: #4b4b4b;

.input {
  @include border-box;
  width: 100%;
  outline: none;
  border: 1px solid $input-border-day;
  padding: 10px 15px;
  border-radius: 4px;

  &::placeholder {
    color: $input-placeholder-color-day;
  }

  :global(.night-mode) & {
    color: $input-color-night;
    border-color: $input-border-night;
    background-color: #17181b;

    &::placeholder {
      color: $input-placeholder-color-night;
    }
  }

  &:focus {
    border-color: $input-border-focus-day;

    :global(.night-mode) & {
      border-color: $input-border-focus-night;
    }
  }

  &.inplace {
    color: $input-placeholder-color-day;

    :global(.night-mode) & {
      color: $input-placeholder-color-night;
    }

    &:focus {
      color: #000;

      :global(.night-mode) & {
        color: $input-color-night;
      }
    }
  }
}
